<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vải Đức Viên</title>
    <link rel="icon" href="/dist/files/icons/logo_mini.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Search Link  -->
    <script src="/dist/process/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="/dist/style/header.css"></link>
    <link rel="stylesheet" href="/dist/style/index.css"></link>
    <script src="/dist/process/search.js"></script>
    <script src="/dist/process/adapter.js"></script>
    <script src="/dist/process/category_anim.js"></script>
</head>

<body>
     <!-- Nav bar-->
     <div class="d-flex 
     justify-content-between
     py-2 px-2 " >
    <div id="btn_home" class="d-none d-xl-block" style="margin-left:30px"><img src="/dist/files/icons/logo.png" width="80" alt="" srcset=""></div>
    
     <div class="d-flex px-1">
      <div>
        <input id="search" placeholder="Tìm kiếm sản phẩm" type="text" class="search"/>
        <i id="btn_search" class="fas fa-search" ></i>
       </div>
         <a class="px-1" id="btn_vn" style="border: none;background-color: transparent;"><img src="/dist/files/icons/vietnam.png" alt="" width="24px"></a>
         <a class="px-1" id="btn_en" style="border: none;background-color: transparent;"><img src="/dist/files/icons/united-kingdom.png" alt="" width="24px"></a>
         <a class="px-1" id="btn_zh"  style="border: none;background-color: transparent;"><img src="/dist/files/icons/china.png" alt="" width="24px"></a>
     </div>
     
     
   </div>
   <nav class="navbar navbar-expand-lg" style="background-color:#F8F8F8;">
     <div class="container-fluid">
      <a id="btn_img_home" class="navbar-brand" href="/">
         <!-- <img src="files/icons/logo.png" alt="" srcset="" height="60px"> -->
       </a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size: 13px;">
           <li class="nav-item">
             <a class="nav-link active" id="tabbar_home" aria-current="page"  href="/">TRANG CHỦ</a>
           </li>
           <li class="nav-item" >
             <a class="nav-link active" id="tabbar_about" aria-current="page" href="/about">GIỚI THIỆU</a>
           </li>
           <li class="nav-item dropdown" style="border: none;border-radius: 0%;">
             <a class="nav-link dropdown-toggle" id="tabbar_product" style="color: #000000;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 SẢN PHẨM
             </a>
             <ul class="dropdown-menu" id="dropdown-nav">
               
             </ul>
           </li>
           <li class="nav-item">
             <a class="nav-link active" id="tabbar_contact"  aria-current="page" href="/contact">LIÊN HỆ</a>
           </li>
           <li class="nav-item">
             <a class="nav-link active" id="tabbar_news" aria-current="page" href="/news">TIN TỨC</a>
           </li>
           <li class="nav-item">
             <a class="nav-link active" id="tabbar_recruitment" aria-current="page" href="/recruitment">TUYỂN DỤNG</a>
           </li>
         
         </ul>
         <div class="d-flex">
            <span class="mx-1" style="font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;">
                Hotline:
                </span>
            <span id="hotline-top" style="font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 18px;">
                0777882089
                </span>
         
         </div>
         
       </div>
     </div>
   </nav>
   <!----------------------------------------------------------------------------------------------------------->
 
   <div class="px-5">
    <div class="post-news">
        <div class="title-pst">
            <h1 id="name">
              STYLE GUIDE | CÁC QUÝ ÔNG SẼ DIỆN ĐỒ GÌ KHI THỜI TIẾT XUỐNG 14°C ?
            </h1>
            <div style="padding-bottom: 20px;"><span id="date"></span></div>
            <div id="image"><img src="/dist/files/icons/company.jpg" style="width: 50%;" alt="" srcset=""></div>
            <div id="content" style="font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 40px;
            text-align: justify;
            color: #000000;">
              Những bộ sưu tập thời trang ngày càng mang tính ứng dụng nhiều hơn trong thực tế. Trang phục trong các buổi trình diễn của hầu hết nhà mốt nổi tiếng đều cho thấy xu hướng thời trang Xuân Hè 2022 hướng tới sự thực dụng và gần gũi với cuộc sống hàng ngày.

              Năng lượng sáng tạo vẫn được các nhà thiết kế duy trì, nhưng được nâng lên ở một đẳng cấp mới, khi thời trang ứng dụng được đề cao. Những bộ sưu tập ứng dụng từ các sản phẩm may sẵn cho đến hàng may đo, từ những chiếc áo khoác Cadigan với chất liệu len mịn nhẹ nhàng, xu hướng áo sát nách hay những chiếc quần short quá ngắn hoặc quá dài cùng những đôi sandal bệt lên ngôi được các nhà thiết kế và những thương hiệu lớn tích cực lăng xê. Đặc biệt hơn, một trong những ứng dụng của thời trang nam - thời trang thể thao ngày càng được chú trọng và phát triển, tạo ra một xu hướng mới không thể thiếu trong các bộ sưu tập Xuân - Hè 2022.
              
              Thời trang thể thao ngày càng được yêu thích và sử dụng bởi sự tiện dụng và thoải mái của nó. Phong cách thời trang hot hit này đan xen giữa thể thao và thời trang. Mặc dù vậy, nó vẫn giúp bạn bộc lộ được sự quyến rũ và thanh lịch không kém những phong cách thời trang khác. Tính ứng dụng, gần gũi của phong cách này được thể hiện rõ nét bởi sự kết hợp linh hoạt, dễ dàng với các món đồ khác nhau tạo ra những item hoàn hảo cho từng bối cảnh mà bạn xuất hiện.
              
              Nếu bạn chọn phong cách thời trang thể thao điều đó không có nghĩa là bạn phải mang toàn bộ những “đồ tập thể thao” trên người. Bạn có thể lựa chọn kết hợp cùng các phụ kiện thời trang khác nhau như: giày sneaker, sandals đế bệt; hay áo phông, áo khoác… Miễn sao set đồ gợi được cảm giác khỏe khoắn, thoải mái; năng động và giữ đúng chất thể thao là được. Bạn có thể biến tấu phong cách này bằng cách kết hợp giữa phong cách thời trang thể thao và cổ điển. Chắc chắn sẽ rất nổi bật và ấn tượng.
              
              Phong cách thể thao hoàn toàn không kén người mặc. Đây là phong cách mang lại sự năng động và khỏe khoắn cho người mặc ở bất kì độ tuổi nào. Phong cách thể thao thành công ghi điểm tuyệt đối với tín đồ thời trang bởi sự tiện dụng, thoải mái và khả năng kết hợp tuyệt vời mà không hạn chế về dáng người. Điều này được thể hiện qua các món đồ chủ đạo của phong cách thời trang này. Đa số đều tạo được cảm giác thoải mái và khá tiện lợi. Có thể kể đến như: áo thụng, quần thể thao, áo phông, quần short hay tank top ….  những món đồ đơn giản nhưng lại không bao giờ lỗi mốt.
              
              Ưu tiên hàng đầu của tín đồ thời trang theo phong cách này có lẽ chính là sự thoải mái về chất liệu. Để đạt được sự thoải mái, chất liệu hàng đầu phải kể đến phải là những chất liệu co giãn tốt như cotton. Ngoài ra còn phải là những chất liệu với khả năng thấm hút tốt để có thể phù hợp với tính chất của phong cách thời trang thể thao này.
              
              Bạn có thể tham khảo và lựa chọn cho mình loại vải ưng ý cho bất kỳ thiết kế nào tại Li Liang. Chúng tôi có thể giúp bạn rút ngắn quá trình hoàn thành một sản phẩm thời trang mang phong cách riêng của thương hiệu bạn bởiLi Liang luôn đón đầu và cập nhật những chất liệu thời trang thể thao mới nhất trên thị trường.
            </div>
        </div>
    </div>
    <div class="swiper1">
        <h2 class="tin-tuc-khac">Tin Tức Khác</h2>
        <div id="show" class="owl-carousel owl-theme">
          <div class="item mx-4">
            <div class="card" style="border-radius: 0;">
                <img class="card-img-top pb-2"  src="/dist/files/icons/company.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"  
                  style="font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 40px;
                    color: #276C9D;">Tin Tức || Đức Viên</p>
                  <a href="/news/1da312dasd21" class="card-title" style="font-style: normal;
                      font-weight: 700;
                      font-size: 18px;
                      line-height: 40px;
                      text-decoration:none;
                      color: #000;">STYLE GUIDE | CÁC QUÝ ÔNG SẼ DIỆN ĐỒ GÌ KHI THỜI TIẾT XUỐNG 14°C ?</a>
                  <p class="card-text" style="font-style: normal;
                      font-weight: 500;
                      font-size: 14px;
                      line-height: 30px;
                      text-align: justify;">14 độ. Mùa đông sang là lúc những i da,... lên ngôi. 14 độ. Mùa đông sang là lúc những i da,... lên ngôi 14 độ. Mùa đông sang là lúc những i da,... lên ngôi</p>
                  <div class="d-flex justify-content-end">
                      <p class="card-text" style="font-style: normal;
                      font-weight: 300;
                      font-size: 14px;
                      line-height: 40px;
                      color: #000000A4;">05/12/2022</p>
                  </div>
            </div>
          </div>
         
        </div>
    </div>


</div>
   
</div>
<br><br><br>
        <!-- Footer -->
        <footer class="text-center text-lg-start bg-light text-muted">
          <!-- Section: Social media -->
        
          <!-- Section: Links  -->
          <section class="">
            <div class="container text-center text-md-start mt-5">
              <!-- Grid row -->
              <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                  <!-- Content -->
                  <h6 class="text-uppercase fw-bold mb-4" id="name_company_1">
                    <i class="fas fa-gem" ></i>Cửa Hàng Vải Đức Viên
                  </h6>
                  <p >
                     <span id="gpkd">4118008503</span>
                  </p>
                  <p>
                    <span id="date_range">02/12/2020</span> 
                  </p>
                  <p>
                    <span id="address_range">Thành Phố Hồ Chí Minh</span>  
                  </p>
                  <p>
                  <span id="address">19 Phú Thọ Hoà,Phường Phú Thọ Hoà,Quận Tân Phú</span>
                  </p>
                </div>
                <!-- Grid column -->
        
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold mb-4" id="footer_title_info">
                    Thông tin liên hệ
                  </h6>
                  <p>
                    <a href="/contact" class="text-reset">Form liên hệ</a>
                  </p>
                  <p>
                    <span id="hotline_bottom">0777882089</span>
                  </p>
                 
                  <p>
                  <span id="time_open">08:00 - 18:00</span>
                  </p>
                </div>
                <!-- Grid column -->
        
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold mb-4" id="footer_info">
                    Thông tin
                  </h6>
                  <p>
                    <a href="/" id="footer_home" class="text-reset">Trang chủ</a>
                  </p>
                  <p>
                    <a href="/about" id="footer_about" class="text-reset">Giới thiệu</a>
                  </p>
    
                  <p>
                    <a href="/news" id="footer_news" class="text-reset">Tin tức</a>
                  </p>
                  <p>
                    <a href="/recruitment" id="footer_recruitment" class="text-reset">Tuyển dụng</a>
                  </p>
                  <p>
                    <a href="/contact" id="footer_contact" class="text-reset">Liên hệ</a>
                  </p>
                </div>
                <!-- Grid column -->
        
                <!-- Grid column -->
              
                <!-- Grid column -->
              </div>
              <!-- Grid row -->
            </div>
          </section>
          <!-- Section: Links  -->
        
          <!-- Copyright -->
          <!-- <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2022 Copyright:
            <a class="text-reset fw-bold" href="https://www.facebook.com/profile.php?id=100011342660106">Bá Nguyễn</a>
          </div> -->
          <!-- Copyright -->
        </footer>
  <!-- Footer -->
      <!-- JavaScript Bundle with Popper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
  crossorigin="anonymous"></script>
  
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</body>

<!-- <script src="./script/swiper.js"></script> -->
</html>