<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vải Đức Viên</title>
    <link rel="icon" href="/dist/files/icons/logo_mini.png">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Search Link  -->
    <script src="/dist/process/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="/dist/style/header.css"></link>
    <link rel="stylesheet" href="/dist/style/index.css"></link>
    <script src="/dist/process/search.js"></script>
    <script src="/dist/process/adapter.js"></script>
    <script src="/dist/process/category_anim.js"></script>
    <script src="/dist/process/product-init.js"></script>
</head>

<body>
     <!-- Nav bar-->
     <div class="d-flex 
     justify-content-between
     py-2 px-2 " >
    <div id="btn_home" class="d-none d-xl-block" style="margin-left:30px"><img src="/dist/files/icons/logo.png" width="80" alt="" srcset=""></div>
    
     <div class="d-flex px-1">
      <div>
        <input id="search" placeholder="Tìm kiếm sản phẩm" type="text" class="search"/>
        <i id="btn_search" class="fas fa-search" ></i>
       </div>
         <a class="px-1" id="btn_vn" style="border: none;background-color: transparent;"><img src="/dist/files/icons/vietnam.png" alt="" width="24px"></a>
         <a class="px-1" id="btn_en" style="border: none;background-color: transparent;"><img src="/dist/files/icons/united-kingdom.png" alt="" width="24px"></a>
         <a class="px-1" id="btn_zh"  style="border: none;background-color: transparent;"><img src="/dist/files/icons/china.png" alt="" width="24px"></a>
     </div>
     
     
   </div>
   <nav class="navbar navbar-expand-lg" style="background-color:#F8F8F8;">
     <div class="container-fluid">
      <a id="btn_img_home" class="navbar-brand" href="/">
         <!-- <img src="files/icons/logo.png" alt="" srcset="" height="60px"> -->
       </a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size: 13px;">
           <li class="nav-item">
             <a class="nav-link active" id="tabbar_home" aria-current="page"  href="/">TRANG CHỦ</a>
           </li>
           <li class="nav-item" >
             <a class="nav-link active" id="tabbar_about" aria-current="page" href="/about">GIỚI THIỆU</a>
           </li>
           <li class="nav-item dropdown" style="border: none;border-radius: 0%;">
             <a class="nav-link dropdown-toggle" id="tabbar_product" style="color: #000000;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 SẢN PHẨM
             </a>
             <ul class="dropdown-menu" id="dropdown-nav">
               
             </ul>
           </li>
           <li class="nav-item">
             <a class="nav-link active" id="tabbar_contact"  aria-current="page" href="/contact">LIÊN HỆ</a>
           </li>
           <li class="nav-item">
             <a class="nav-link active" id="tabbar_news" aria-current="page" href="/news">TIN TỨC</a>
           </li>
           <li class="nav-item">
             <a class="nav-link active" id="tabbar_recruitment" aria-current="page" href="/recruitment">TUYỂN DỤNG</a>
           </li>
         
         </ul>
         <div class="d-flex">
            <span class="mx-1" style="font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;">
                Hotline:
                </span>
            <span id="hotline-top" style="font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 18px;">
                0777882089
                </span>
         
         </div>
         
       </div>
     </div>
   </nav>
   <!----------------------------------------------------------------------------------------------------------->
<div class="row">
    <div class="col-lg-7 col-12 mt-4">
        <div class="row">
            <div class="col-12 col-lg-2">
            </div>
            <div class="col-12 col-lg-10">
                <div class="product pb-4 row" style="width: 100%;margin: 0;" >
                    <div class="col-lg-3 col-12 d-none d-xl-block" >
                        <div id="anh1" class="item" style="width: 100%;margin: 10px 0;">
                            <!-- <img  src="/dist/files/images/mau.png" height="120px" width="120px" style="object-fit: cover;"> -->
                          </div>
                          <div id="anh2" class="item" style="width: 100%;margin: 10px 0;">
                            <!-- <img src="/dist/files/images/mau.png" height="120px"width="120px" style="object-fit: cover;"> -->
                          </div>
                          <!-- <div id="anh3" class="item" style="width: 100%;margin: 10px 0;">
                            <img src="/dist/files/images/mau.png" height="120px"width="120px" style="object-fit: cover;">
                          </div>
                          <div id="anh4" class="item " style="width: 100%;margin: 10px 0;">
                            <img src="/dist/files/images/mau.png" height="120px" width="120px" style="object-fit: cover;">
                          </div> -->
                    </div>
                     <div class="col-lg-8 col-12">
                       <div id="anh_chinh" class="item py-2" style="width: 100%;">
                         <!-- <img src="/dist/files/images/mau.png" height="520px" width="100%" style="object-fit: cover;"> -->
                       </div>
                       <div class="d-block d-sm-none">
                        <div class="row ">
                          <div id="anh_duoi1" class="col-6" style="text-align: center;">
                            <!-- <img  src="/dist/files/images/mau.png" height="80px" width="80px" style="object-fit: cover;"> -->
                          </div>
                          <div id="anh_duoi2" class="col-6" style="text-align: center;">
                            <!-- <img src="/dist/files/images/mau.png" height="80px"width="80px" style="object-fit: cover;"> -->
                          </div>
                          <!-- <div id="anh_duoi3" class="col" style="width: 100%;text-align: center;">
                           
                          </div> -->
                         </div>
                       </div>
                       
                     </div>
                  </div>
            </div>
        </div>
          
       </div>
    <div class="col-12 col-lg-5 py-lg-4">
        <div>
            <div class="mb-2">
                <img src="/dist/files/icons/or.png" width="32" alt="" srcset="">
                <span id="title_fabric" style="font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 30px;"></span>
              </div>
            <div class="px-2">
                <span id="content" style="font-style: normal;
                font-weight: 700;
                font-size: 14px;
                color: #637281;
                line-height: 30px;"> 
                 </span>
            </div>
        </div>
    </div>

    <div class="title py-4 px-2" >
        <h1 id="page_hint_product" class="mx-4" style="font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;">
         
        </h1>
      </div>

      <div id="product-list" class="px-4 pb-4 owl-carousel owl-theme">
        <!-- <div class="item py-2" style="width: 100%;">
              
            <div style="width: 62px;height: 1px;background-color: #000000;" class="my-2"></div>
            <h2 style="font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.1em;">
            Áo Thun Nam Đen
            </h2>
            <img src="/dist/files/images/mau.png" width="100%" style="object-fit: cover;">
          </div> -->
      </div>
   
</div>

<div class="hotline-phone-ring-wrap">
  <div class="hotline-phone-ring">
    <div class="hotline-phone-ring-circle"></div>
    <div class="hotline-phone-ring-circle-fill"></div>
    <div class="hotline-phone-ring-img-circle"> <a id="hotline" href="tel:0777882089" class="pps-btn-img"> <img
          src="/dist/files/icons/images-removebg-preview.png" alt="so dien thoai" width="50"> </a>
    </div>
  </div>
  <div class="zalo-ring">
    <div class="zalo-ring-circle"></div>
    <div class="zalo-ring-circle-fill"></div>
    <div class="zalo-ring-img-circle"> <a id="facebook" href="https://www.facebook.com/profile.php?id=100088891574699&mibextid=ZbWKwL" class="pps-btn-img"> <img
          src="/dist/files/icons/facebook.png" alt="so dien thoai" width="50"> </a>
    </div>
  </div>
  <div class="zalo-ring">
    <div class="zalo-ring-circle"></div>
    <div class="zalo-ring-circle-fill"></div>
    <div class="zalo-ring-img-circle"> <a id="zalo" href="https://zalo.me/0777882089" class="pps-btn-img"> <img
          src="/dist/files/icons/zalo.png" alt="so dien thoai" width="50"> </a>
    </div>
  </div>
</div>
        <!-- Footer -->
        <footer class="text-center text-lg-start bg-light text-muted">
          <!-- Section: Social media -->
        
          <!-- Section: Links  -->
          <section class="">
            <div class="container text-center text-md-start mt-5">
              <!-- Grid row -->
              <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                  <!-- Content -->
                  <h6 class="text-uppercase fw-bold mb-4" id="name_company_1">
                    Cửa Hàng Vải Đức Viên
                  </h6>
                  <p>
                    <span id="address_range">Thành Phố Hồ Chí Minh</span>  
                  </p>
                  <p>
                  <span id="address">19 Phú Thọ Hoà,Phường Phú Thọ Hoà,Quận Tân Phú</span>
                  </p>
                </div>
                <!-- Grid column -->
        
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold mb-4" id="footer_title_info">
                    Thông tin liên hệ
                  </h6>
                  <p>
                    <a href="/contact" class="text-reset">Form liên hệ</a>
                  </p>
                  <p>
                    <span id="hotline_bottom">0777882089</span>
                  </p>
                 
                  <p>
                  <span id="time_open">08:00 - 18:00</span>
                  </p>
                </div>
                <!-- Grid column -->
        
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold mb-4" id="footer_info">
                    Thông tin
                  </h6>
                  <p>
                    <a href="/" id="footer_home" class="text-reset">Trang chủ</a>
                  </p>
                  <p>
                    <a href="/about" id="footer_about" class="text-reset">Giới thiệu</a>
                  </p>
    
                  <p>
                    <a href="/news" id="footer_news" class="text-reset">Tin tức</a>
                  </p>
                  <p>
                    <a href="/recruitment" id="footer_recruitment" class="text-reset">Tuyển dụng</a>
                  </p>
                  <p>
                    <a href="/contact" id="footer_contact" class="text-reset">Liên hệ</a>
                  </p>
                </div>
                <!-- Grid column -->
        
                <!-- Grid column -->
              
                <!-- Grid column -->
              </div>
              <!-- Grid row -->
            </div>
          </section>
          <!-- Section: Links  -->
        
          <!-- Copyright -->
          <!-- <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2022 Copyright:
            <a class="text-reset fw-bold" href="https://www.facebook.com/profile.php?id=100011342660106">Bá Nguyễn</a>
          </div> -->
          <!-- Copyright -->
        </footer>
  <!-- Footer -->
      <!-- JavaScript Bundle with Popper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
  crossorigin="anonymous"></script>
  
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</body>

<!-- <script src="./script/swiper.js"></script> -->
</html>