<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Flexy lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Flexy admin lite design, Flexy admin lite dashboard bootstrap 5 dashboard template">
    <meta name="description"
        content="Flexy Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Quản trị Vải Đức Viên</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/Flexy-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/dist/admin/assets/images/favicon.png">
    <!-- Custom CSS -->
    <link href="/dist/admin/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    
    <link href="/dist/admin/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/dist/admin/css/style.min.css" rel="stylesheet">
    

    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="index.html">
                        <h4 class="card-title">LILIANG ADMIN</h4>
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="mdi mdi-menu"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-start me-auto">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item search-box"> <a class="nav-link waves-effect waves-dark"
                                href="javascript:void(0)"><i class="mdi mdi-magnify me-1"></i> <span class="font-16">Search</span></a>
                            <form class="app-search position-absolute">
                                <input type="text" class="form-control" placeholder="Search &amp; enter"> <a
                                    class="srh-btn"><i class="mdi mdi-window-close"></i></a>
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-end">
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
     
                            <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i>
                                    My Profile</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i>
                                    My Balance</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i>
                                    Inbox</a>
                            </ul>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- Navbar left  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="/" aria-expanded="false"><span
                                class="hide-menu">Loại vải</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="/product" aria-expanded="false"><span
                                class="hide-menu">Sản phẩm</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="/about" aria-expanded="false"><span
                                class="hide-menu">Liên hệ</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="/news" aria-expanded="false"><span
                                class="hide-menu">Tin tức</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="/recruitment" aria-expanded="false"><span
                                class="hide-menu">Tuyển dụng</span></a></li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- Page  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-6">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 d-flex align-items-center">
                              <li class="breadcrumb-item"><a href="index.html" class="link"><i class="mdi mdi-home-outline fs-4"></i></a></li>
                              <li class="breadcrumb-item active" aria-current="page">Danh mục sản phẩm</li>
                            </ol>
                          </nav>
                        <h1 class="mb-0 fw-bold">Danh mục sản phẩm</h1> 
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- danh mục sản phẩm  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <div id="a" class="row" >
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-md-flex align-items-center">
                                    <div>
                                        <h4 class="card-title">Cập nhật thông tin sản phẩm</h4>
                                        <h6 class="card-subtitle">Cập nhật hoặc thêm sản phẩm mới</h6>
                                    </div>
                                </div>
                                <br>
                               <div class="col-12">
                                <form id="form" action="/router/product" method="post" role="form" enctype="multipart/form-data">
                                    <label for="exampleInputEmail1">Loại vải*</label>
                                    <br>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Chọn loại vải
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                         
                                        </div>
                                      </div>
                                      <br><br>
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Chọn hình ảnh mẫu*</label>
                                        <br>
                                        <input name="image" type="file" class="form-control-file" id="productImage">
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleInputEmail1">Tên mẫu(Việt Nam)*</label>
                                      <input name="name_sample_vn" type="text" class="form-control" id="productNameVN" aria-describedby="emailHelp" placeholder="VD: bộ sưu tập ...">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Tên mẫu(Tiếng Anh)*</label>
                                        <input name="name_sample_en" type="text" class="form-control" id="productNameEN" aria-describedby="emailHelp" placeholder="VD: bộ sưu tập ...">
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleInputEmail1">Tên mẫu(Trung Quốc)*</label>
                                        <input name="name_sample_zh" type="text" class="form-control" id="productNameZH" aria-describedby="emailHelp" placeholder="VD: bộ sưu tập ...">
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleFormControlFile1">Chọn hình ảnh mẫu*</label>
                                        <br>
                                        <input name="image" type="file" class="form-control-file" id="productImage">
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleInputEmail1">Tên mẫu (Việt Nam)*</label>
                                      <input name="name_fabric_vn" type="text" class="form-control" id="productNameVN" aria-describedby="emailHelp" placeholder="VD: bộ sưu tập ...">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Tên mẫu (Tiếng Anh)*</label>
                                        <input name="name_fabric_en" type="text" class="form-control" id="productNameEN" aria-describedby="emailHelp" placeholder="VD: bộ sưu tập ...">
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleInputEmail1">Tên mẫu (Trung Quốc)*</label>
                                        <input name="name_fabric_zh" type="text" class="form-control" id="productNameZH" aria-describedby="emailHelp" placeholder="VD: bộ sưu tập ...">
                                      </div>
                                      
                                    <button type="submit" class="btn btn-primary">Thêm mới</button>
                                  </form>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <div id="products" class="row d-none">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-md-flex">
                                    <div>
                                        <h4 class="card-title" id="titleProduct">BỘ SƯU TẬP VẢI KAKI</h4>
                                        <h5 class="card-subtitle">Danh sách sản phẩm theo loại vải</h5>
                                    </div>
                                    <div class="ms-auto">
                                        <button id="btnAddFormProduct" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                                            Thêm sản phẩm mới
                                          </button>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table mb-0 table-hover align-middle text-nowrap">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0">Hình ảnh</th>
                                                <th class="border-top-0">Tên sản phẩm</th>
                                                <th class="border-top-0">Mã sản phẩm</th>
                                                <th class="border-top-0">Nội dung</th>
                                                <th class="border-top-0"></th>
                                                <th class="border-top-0"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableProducts">
                                            <tr>
                                                <td>
                                                    Hiện chưa có sản phẩm nào trong danh mục này
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                <td>
                                                    <img src="./assets/images/anh.png" alt="..." class="img-thumbnail" width="80">
                                                </td>
                                                <td>VẢI KAKI</td>
                                                <td>T23AF</td>
                                                <td>
                                                    <span class="text-muted d-inline-block text-truncate" style="max-width: 15rem;">Trên thị trường có rất nhiều loại vải khác nhau, vải kaki rất thịnh hành trên thị trường và rất dễ gây nhầm lẫn cho người sử dụng. Vải kaki được phân loại thành 4 loại chính để phân biệt, bao gồm: vải kaki thun, vải kaki không thun, vải kaki polyester, vải kaki cotton.</span>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-outline-secondary">Chỉnh sửa</button>
                                                </td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
        
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <script src="https://cdn.ckeditor.com/ckeditor5/35.4.0/classic/ckeditor.js">
    </script>
    <script src="/dist/admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <script>

    </script>
        <script src="/dist/process/jquery.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/dist/admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/dist/admin/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="/dist/admin/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/dist/admin/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/dist/admin/js/custom.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script> 
   
</body>

</html>